/*mobile layout*/
p{
    color: black;
}

.ClothingImage{
    width: 190px;
}

.AddToCart{
    border-radius: 10px;
}

.btn-outline-dark:hover{
    background-color: #bababa;
}

.ImageContainer{
    margin: 10px;
    background-color: #f4f4f4;
    box-shadow: 10px 10px 10px #888;
    border-radius: 10px;
    height: 380px;
}

#Body{
    background-color: #f4f4f4;
    padding-bottom: 70px;
    padding-top: 20px;
}

#Gallery{
    margin-bottom: 50px;
}


.removeButton{
    height: 25px;
    text-align: center;
    line-height: 0;
    vertical-align: middle;
    margin-left: 25px;
}

.cartListItems {
    margin-right: 25px;
    margin-left: 25px;
    padding-top: 15px;
    padding-bottom: 15px;
}
/*source: Gemini*/
.cartListItems::before {
    content: "";           /* Required to make the element appear */
    display: block;        /* Makes it take up its own line */
    width: 50%;            /* LIMITS the length (can be % or px) */
    border-top: 1px solid black;

    /* OPTIONAL: To align it */
    margin-bottom: 15px;   /* Replaces the padding-top visual space */

    /* To offset it from the left: */
    margin-left: 50%;
    /* OR to Center it: margin: 0 auto 15px auto; */
    /* OR to align Right: margin-left: auto; */
}

.cartButton{
    height: 70px;
}

#cartSideBar{
    display: none;
    float: right;
    justify-content: end;
    text-align: right;
}

#cartItems{
    list-style-type: none;
    background-color: #eae9e9;
    color: black;
    border: 1px solid black;
}

#cartContainer{
    position: absolute;
    right: 0;
    width: 30%;
    margin-left: 70%;

}

@media (max-width: 1800px) {
    #cartContainer{

    }
    
}